{% extends  "template.html" %}
{% block content %}
    <form action="new" method="post">
    <fieldset>
      <div class="form-group">
        <label for="nome">name</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="category">category</label>
        <input type="text" id="category" name="category" class="form-control">
      </div>
      <div class="form-group">
        <label for="console">console</label>
        <input type="text" id="console" name="console" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-salvar">Add</button>
    </fieldset>
    </form>
{% endblock %}